<div>
    <p style="display: inline;">Display Name:</p> <p style="display: inline;"><%= jukebox.displayName %></p>
    <br>
    <p style="display: inline;">Account Linked:</p><p style="display: inline;"><%= jukebox.spotifyAccessCode %></p>
    
    <% if (!jukebox.spotifyAuthCode) { %>
        <a href="/jukebox/link?id=<%= jukebox.id %>" style="color: green;">Link Spotify</a>
        <% } else { %>
            <p style="display: inline;">Linked!</p>
    <% } %>

    <br>
    <a href="/jukebox/read?id=<%= jukebox.id %>">View</a>
    <a href="/jukebox/update?id=<%= jukebox.id %>">Update</a>
    <a href="/jukebox/delete?id=<%= jukebox.id %>">Delete</a>
</div><br>