<%- include('../base/top') %>

<h1>Jukebox Information</h1>

<b>Id</b>
<p><%= jukebox.id %></p>

<b>Display Name</b>
<p><%= jukebox.displayName %></p>

<% if (jukebox.spotifyAuthCode) { %>
    <p style="color: green">Jukebox Linked with Spotify</p>
<% } else { %>
    <p>To have access to the app's features your spotify jukebox must be linked</p>
    <a href="/jukebox/link">Link Spotify Jukebox</a>
<% } %><br><br>

<a href="/jukebox/update?id=<%= jukebox.id %>">Update</a>
<a href="/jukebox/delete?id=<%= jukebox.id %>">Delete</a>

<%- include('../base/bottom') %>
