<%- include('../base/top') %>

<h1>Account Information</h1>

<b>Id</b>
<p><%= account.id %></p>

<b>Display Name</b>
<p><%= account.displayName %></p>

<b>Email</b>
<p><%= account.email %></p>

<a href="/account/update?accountId=<%= account.id %>">Update</a>
<a href="/account/delete?accountId=<%= account.id %>">Delete</a>

<%- include('../base/bottom') %>
