<%- include('../base/top') %>



<div class="container">
    <h1>Account Information</h1>

    <b>Id</b>
    <p><%= account.id %></p>

    <b>Display Name</b>
    <p><%= account.displayName %></p>

    <b>Email</b>
    <p><%= account.email %></p>

    <a style="color: green" href="/search?suggestTo=<%= account.id %>">Suggest Page</a><br>
    <a style="color: green" href="/account/qr">Printable QR Code</a><br><br>

    <a href="/account/update?accountId=<%= account.id %>">Update</a>
    <a href="/account/delete?accountId=<%= account.id %>">Delete</a>
</div>

<%- include('../base/bottom') %>
