<div class="profile">
    <h1><%= profile.displayName %></h1>
    <p>Account Id: <%= profile.accountId %></p>
    
    <p style="display: inline;"></p>
    <% if (!profile.spotAuthToken) { %>
        <a href="/profile/link?profileId=<%= profile.id %>" style="color: green; display: inline;">Link Spotify</a>
    <% } else { %>
        <p style="display: inline;">Spotify Linked</p>
    <% } %>
    <br><br>
    
    <a style="display: inline;" href="/profile/read?id=<%= profile.id %>">View</a>
    <a style="display: inline;" href="/profile/update?id=<%= profile.id %>">Update</a>
    <a style="display: inline;" href="/profile/delete?id=<%= profile.id %>">Delete</a>
    <br><br>
</div>