<%- include('../base/top') %>

<h1 class="row justify-content-center">Update Profile</h1>
    
<form method="post" action="/profile/update" enctype="application/x-www-form-urlencoded">
    <div class="col-lg-6 offset-lg-3">
        <div class="form-group text-center">
            <label class="" for="displayName">Display Name: <b><%= profile.displayName %></b></label>
            <input class="form-control" type="text" name="displayName" value="<%= profile.displayName %>">
            <input type="hidden" name="profileId" value="<%= profile.id %>" readonly>        
        </div>
        <!-- </div> -->
        <!-- <div class="row justify-content-center"> -->
        <div class="form-group row justify-content-center">
            <input class="btn btn-primary" type="submit" value="Update Profile"> 
        </div> 
    </div>
</form>






<%- include('../base/bottom') %>
