<div>
    <img style="width: 100px" src="<%= item.album.images[0].url %>">
    <p>Name: <%= item.name%></p>
    <p>Artist: <%= item.artists[0].name%></p>
    <p>URI: <%= item.uri %></p>

    <a href="/suggest?suggestTo=<%= suggestTo %>&uri=<%= item.uri %>">Suggest Song</a>
    <br><br>
</div>