<%- include('../base/top') %>

<style>
    body div {
        display: grid;
        place-items: center;
    }

    form {
        width: 100%;
        display: grid;
        place-items: center;
    }

    form .search {
        padding: 10px;
        width: 50%;
        border-radius: 30px;
        border: 1px solid grey;
        height: 100%;
    }

    form .submit {
        background: black;
        border: 2px solid rgb(23, 23, 23);
        border-radius: 30px;
        color: white;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .section {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 25px;
        margin: 25px;
    }
</style>

<div class="section">
    <h1>Jukebox App - <%= suggestTo.displayName %></h1>
</div>

<!-- <div class="section">
    <h2>Suggest A Song</h2><br>
    <form action="/results" method="get">
        <input name="suggestTo" type="hidden" readonly value="<%= suggestTo.id %>">
        <input class="search" name="search" type="text" placeholder="🔎 Search a song..."><br>
        <input class="submit" type="submit" value="Search">
    </form>
</div> -->

<div class="section">
    <h2>Suggest A Song</h2><br>
    <form id="myForm" > 
        <input name="suggestTo" type="hidden" readonly value="<%= suggestTo.id %>">
        <input class="search" name="search" type="text" placeholder="🔎 Search a song..."><br>
        <button class="submit" type="submit">Search</button>
    </form>
</div>

<div class="results"></div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('myForm').addEventListener('submit', async function (e) {
            e.preventDefault();

            const search = document.querySelector('input[name="search"]').value.trim();
            const suggestTo = document.querySelector('input[name="suggestTo"]').value;
            const resultsDiv = document.querySelector('.results');

            if(!search){
                resultsDiv.innerHTML = "Please provide a search term.";
                return;
            }

            try{
                const res = await fetch(`/results?search=${encodeURIComponent(search)}&suggestTo=${suggestTo}`);
                const html = await res.text();
                document.querySelector('.results').innerHTML = html;
            } catch (err) {
                throw new AppError(err);
                resultsDiv.innerHTML = "An error occured while searching."
            }
        });       
    });
</script>

<!-- <% if (locals.playing && locals.playing.album) { %>
<div class="section">
    <h2>Currently Playing</h2><br>

    <img style="display: inline;" src="<%= playing.album.images[0].url %>" width="200">
    <p style="display: inline;"><%= playing.name %></p>
    <a href="<%= playing.external_urls.spotify %>">Link</a>
</div>
<% } %> -->

<%- include('../base/bottom') %>